@media (max-width: 799px){
    #content {
        width: 450px;
    }    
}

@media (min-width: 800px){
    #content {
        width: 800px;
    }
}

:root {
    --main-color: #2B4B6F;
    --bg-color:  rgba(213, 222, 231, 0.5);
    --highlight-color: #D5DEE7;
    --border-color: rgba(204, 204, 240, 0.7);
}

#header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--main-color);
    border-bottom: 1px solid grey;
    font-weight: bolder;
    box-shadow: 0px 5px 10px grey;
}

#header-text {
    color: var(--highlight-color);
    font-size: 30px;
    position: relative;
    line-height: 80px;
    margin-left: 15%;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    background-color: var(--bg-color);
}

#content {
    padding-top:100px;
    margin: auto;
}

.content-header {
    text-align: left;
    padding: 10px 0px 10px 0px;
    background-color: var(--main-color);
}

#content section:first-child {
    border: 1px solid var(--border-color);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

#content section {
    background-color: white;
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px grey;
    transition: box-shadow 0.3s;
}
#content section:hover {
    box-shadow: 15px 15px 15px grey;
    transition: box-shadow 0.3s;
}

.content-body {
    padding: 10px 40px 20px 40px;
    text-align: justify;
    line-height: 1.4;
}

.content-header-text {
    font-weight: bold;
    font-size: 24px;
    color: var(--highlight-color);
    margin-left:35px;
}

.content-body-tech {
    color: gray;
}

.content-body-project-title > b{
    color: var(--main-color);
}

.fa{
    color: var(--main-color);
}

.invertagram {
    color: white;
    background: var(--main-color);
    font-size: 60px !important;
    line-height: 74% !important;
    height: 44px;
    width: 48px;
    border-radius: 14px;
    position: relative;
    top: 4px;
}

a{
    color: var(--main-color);
    font-weight: bold;
}

div p, small {
    display: inline-block;
    margin-bottom: 15px;
}

.width-100{
    width: 100%;
    display: inline-block;
}

.social-icons {
    width:24%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#content-socialize .content-body {
    margin-top: 1em;
}
