---
layout: layout.njk
---
<section class="section">
  <div class="container">
    <div class="post-back-link">
      <a href="/blog/">&larr; View other posts</a>
    </div>
    <h1 class="section-title">{{ title }}</h1>
    <p class="post-date">{{ date | date }}</p>
    <article class="prose">
      {{ content | safe }}
    </article>
  </div>
</section>
